name = "xed-editor-site"
main = ".open-next/worker.js"
compatibility_date = "2025-10-08"
compatibility_flags = ["nodejs_compat"]

upload_source_maps = true

[observability]
enabled = true

[assets]
binding = "ASSETS"
directory = ".open-next/assets"

[images]
# Enable image optimization
# see https://opennext.js.org/cloudflare/howtos/image
binding = "IMAGES"

[[d1_databases]]
binding = "DB"
database_name = "xed-db"
database_id = "39300012-c9ff-418f-9938-030bceba2586"
#remote = true

[[r2_buckets]]
binding = "R2"
bucket_name = "xed"
